---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongoexpress-deploy
  labels:
    name: mongoexpress-deploy
    app: profile-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: mongoexpress-pod
      app: profile-app
  template:
    metadata:
      name: mongoexpress-pod
      labels:
        name: mongoexpress-pod
        app: profile-app
    spec:
      containers:
      - name: mongoexpress
        image: mongo-express:0.54
        ports:
        - containerPort: 8081
      env:
          - name: ME_CONFIG_MONGODB_ADMINUSERNAME
            value: "admin"
          - name: ME_CONFIG_MONGODB_ADMINPASSWORD
            value: "password"
          - name: ME_CONFIG_MONGODB_SERVER
            value: "mongodb"
